#!/bin/bash

# When running this file, use 'run' or 'window' as the argument to execute the one-off
# Example: ./path/to/script run

rofi \
-show $1 \
-font "Dejavu Sans 14" \
-bw 0 \
-padding 400 \
-fullscreen \
-color-window "argb:ae000000, argb:0000000, argb:0000000" \
-color-normal "argb:f000000, #ffffff, argb:e000000, #268cad, #ffffff" \
-color-active "argb:f000000, #268bd2, argb:e000000, #487381, #ffffff" \
-color-urgent "argb:f000000, #89211f, argb:e000000, argb:d000000, #ff2828"
