#!/bin/bash

# When running this file, use 'run' or 'window' as the argument to execute the one-off
# Example: ./path/to/script run

rofi \
-show $1 \
-font "Dejavu Sans 14" \
-bw 0 \
-padding 450 \
-fullscreen \
-color-window "argb:ae000000, argb:0000000, argb:0000000" \
-color-normal "argb:000000, #ffffff, argb:000000, #268cad, #ffffff" \
-color-active "argb:000000, #67d9ff, argb:000000, #2b57c1, #ffffff" \
-color-urgent "argb:000000, #89211f, argb:000000, argb:000000, #ff2828"
