set -s escape-time 0
# 1 index tabs, because 2 is next to 1, not 0
set -g base-index 1

# Status
set-option -g status on
set-option -g status-interval 1
set-option -g status-utf8 on
set-option -g status-justify "left"
set-option -g status-right-length 90
set-option -g status-bg "#222222"
set-option -g status-fg "white"
# Bold tab names on system bell (I have a system bell in my prompt)
set-window-option -g window-status-bell-attr bold
# Fancy ASCII blocks
set-option -g window-status-format "#[fg=#333333,bg=#333333] #[fg=white]#I#[fg=#333333,bg=#222222]▌#[fg=white]#W "
set -g window-status-current-format "#[fg=#555555,bg=#555555] #[fg=white]#I#[fg=#11AADD]▐#[fg=#111111,bg=#11AADD]#W "
# Show some system info
set -g status-right '#[fg=#888888]#($RCDIR/tmux/cpu.sh) #($RCDIR/tmux/mem.sh) #[fg=#8899AA]#($RCDIR/tmux/time.sh)'
set -g status-left ''

# Ctrl+Q for prefix
unbind-key -n C-a
unbind-key -n C-b
unbind-key C-a
unbind-key C-b
unbind-key a
set -g prefix ^Q
set -g prefix2 ^Q
bind q send-prefix
bind-key C-q last-window

# Alt jk for moving between tabs
bind-key -n M-j next-window
bind-key -n M-k previous-window

# Alt hl to swap tabs
bind-key -n M-h swap-window -t :-1 
bind-key -n M-l swap-window -t :+1 

# Renumber tabs on close
set -g renumber-windows on

# Browser style tab select
bind-key -n M-1 select-window -t :1
bind-key -n M-2 select-window -t :2
bind-key -n M-3 select-window -t :3
bind-key -n M-4 select-window -t :4
bind-key -n M-5 select-window -t :5
bind-key -n M-6 select-window -t :6
bind-key -n M-7 select-window -t :7
bind-key -n M-8 select-window -t :8
bind-key -n M-9 select-window -t :9
bind-key -n M-0 select-window -t :10

# Resize panes with alt+arrow keys
bind-key -n M-Left resize-pane -L
bind-key -n M-Right resize-pane -R
bind-key -n M-Up resize-pane -U
bind-key -n M-Down resize-pane -D

# Vim style move
bind-key k select-pane -U
bind-key j select-pane -D
bind-key h select-pane -L
bind-key l select-pane -R

# <prefix> Ctrl-w/e should be the same as <prefix> w/e
bind-key C-c new-window
bind-key C-p previous-window
bind-key C-n next-window
bind-key C-k select-pane -U
bind-key C-j select-pane -D
bind-key C-h select-pane -L
bind-key C-l select-pane -R

# Kill stuff
bind-key x confirm-before kill-pane
bind-key X confirm-before kill-window
# Reload conf
bind-key C-r source-file $HOME/.tmux.conf

# X clipboard hacks
bind y run "tmux show-buffer | clip-copy; tmux show-buffer | clip-copy -s"
bind p run "tmux set-buffer -- \"$(clip-paste)\"; tmux paste-buffer"
bind C-v run "tmux set-buffer -- \"$(clip-paste)\"; tmux paste-buffer"

# Vim copy mode
set-window-option -g mode-keys vi
bind-key -t vi-copy 'v' begin-selection
bind-key -t vi-copy 'y' copy-selection
bind -t vi-copy Escape cancel

# Saner split window shortcuts
bind-key | split-window -h
bind-key _ split-window -v

# more stuff
set-option -g bell-action any
set -g default-terminal "screen"
set -g terminal-overrides 'xterm*:smcup@:rmcup@'
set -g default-command $SHELL
set -g history-limit 5000
set -g mode-mouse on
setw -g mouse-select-window on
setw -g mouse-select-pane on
setw -g aggressive-resize on
