! Make fonts look nice
Xft.antialias:true
Xft.hinting:true
! hintslight | hintsmedium | hintsfull
Xft.hintstyle:hintsfull
! rgba subpixel hinting (for LCDs)
Xft.rgba:subpixel
xft.dpi: 96
URxvt*letterSpace: -1

! Screw scrolling, I have tmux
urxvt*internalBorder: 0
urxvt*scrollstyle: rxvt
urxvt*scrollBar: false
urxvt*depth: 32
urxvt*saveLines: 0
urxvt*secondaryScroll: false

urxvt.urgentOnBell: true

!COLORS
*foreground:#a0a0a0
*background:#1B1D1E
! black
*color0:    #1B1D1E
*color8:    #505354
! red
*color1:    #F92672
*color9:    #FF669D
! green
*color2:    #76B22E
*color10:   #9ECD3F
! yellow
*color3:    #FD971F
*color11:   #E6DB74
! blue
*color4:    #C629FF
*color12:   #038ACF
! magenta
*color5:    #9E6FFE
*color13:   #9E6FFE
! cyan
*color6:    #5E7175
*color14:   #66D9EF
! white
*color7:    #CCCCC6
*color15:   #F8F8F2

URxvt*font:                 xft:Menlo for Powerline:regular:size=8
URxvt*imFont:               xft:Menlo for Powerline:regular:size=8
URxvt*boldFont:             xft:Menlo for Powerline:bold:size=8
URxvt*italicFont:           xft:Menlo for Powerline:italic:size=8
URxvt*boldItalicFont:       xft:Menlo for Powerline:bold:italic:size=8

URxvt*urgentOnBell: true
XTerm*bellIsUrgent: true

